<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <div class="bg-contact">
  <form #form="ngForm" (ngSubmit)="contactForm(form)" class="form-positon">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" name='first-name' ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" name='last-name' ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telephone Number<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" name='phone-no' ngModel ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" name='email' ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address </ion-label>
        <ion-input required type="text" name='address-1' ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City </ion-label>
        <ion-input required type="text" name='city' ngModel></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Comments</ion-label>
        <ion-textarea rows="2" type="text" name='comment' ngModel></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">submit</ion-button>
    </div>


  </form>
</div> -->
<ion-grid class="pt-0 pb-3 pl-0 pr-0">
  <ion-row class="img-hero-banner">
    <ion-col text-center>
      
    </ion-col>
  </ion-row>
</ion-grid>
<div class="bg-contact">
<ion-grid>
  <ion-row>
        <ion-col size="6">
          <input type="text" class="input-text"   placeholder="First Name"  autocomplete="off">
        </ion-col>
        <ion-col  size="6">
          <input type="text" class="input-text"   placeholder="Last Name"  autocomplete="off">
        </ion-col>
        <ion-col  size="12">
          <input type="text" class="input-text"   placeholder="Email"  autocomplete="off">
        </ion-col>
        <ion-col  size="12">
          <input type="text" class="input-text"   placeholder="Number"  autocomplete="off">
        </ion-col>
        <ion-col  size="6">
          <input type="text" class="input-text mb-2"   placeholder="Address"  autocomplete="off" >
        </ion-col>
        <ion-col  size="6">
          <input type="text" class="input-text"   placeholder="City"  autocomplete="off">
        </ion-col>
        <ion-col size="12">
          <textarea type="text" cols="20" rows="6" placeholder="Comments" style="border: 2px solid #91c11e;width: 100%;font-size: 1rem;border-radius: 0.25rem;"></textarea>
        </ion-col>
        <ion-col size="12" class="pt-3 pb-2">
          <ion-button expand="block" type="submit" class="ion-no-margin">submit</ion-button>
        </ion-col>
      </ion-row>
      
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size-md-6 class="page-contact">

        <div class="contacts">
            <div class="single">
                <i class="fas fa-map-marker-alt fa-2x"></i>
<h5 class="text-primary">Address</h5>
                <p class="font-light"> Amman - Jordan.</p>
            </div>
            <div class="single">
                <i class="fas fa-envelope-open fa-2x"></i>
<h5 class="text-primary">Email Address</h5>
                <p class="font-light"><a href="mailto:info@boxeh.com">info@boxeh.com</a></p>
            </div>
            <div class="single">
                <i class="fas fa-phone fa-2x"></i>
<h5 class="text-primary">Phone Number</h5>
                <p class="font-light mb-0"><a href="tel:+123456789">+123456789</a></p>
                <p class="font-light mt-0 mb-0"><a href="tel:+0987654321">+0987654321</a></p>
            </div>
        </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>


