<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Boxeh Chefs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-login pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner">
      <ion-col text-center>
        <!-- <div  class="d-block text-center page-hero-banner ">
          <h4 class="pb-4 pt-4" text-center="">
                  What Gets Us Out of Bed Everyday</h4>
          </div> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="pl-4 pr-4 ">
        <div class="bg-white  pt-2 ">
          <h1 class="text-primary text-center">Boxeh Chefs</h1>
       
          <div class="page-content">
            <p class="intro-content text-center pl-3 pr-3">Get to know the masterminds behind your favorite Boxeh recipes.</p>
        </div>
        <div class="page-content text-center">
          <input class="search-border" id="searchFilter" placeholder="Search" type="text" >
        </div>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="pt-1">
      <ion-col size="12" class="pl-4 pr-4 ">
        <div class="bg-white pl-3 pr-3 border-1 pt-2 pb-2 mb-2">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper my-auto">
                    <img class="" src="../../../assets/icon/cheff.png" alt="user" class="rounded-circle shadow" style="width: 75px;">
                </div>
                <div class="card-body pl-3">
                  <h4 class="card-title text-primary">
                      Chefs  Aryan
                  </h4>
                  <h4 class="card-text"> Recipes : 1   </h4>
              </div>
            </div>
        </div>
        </div>
        <div class="bg-white pl-3 pr-3 border-1 pt-2 pb-2 mb-2">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper my-auto">
                    <img class="" src="../../../assets/icon/chef.png" alt="user" class="rounded-circle shadow" style="width: 75px;">
                </div>
                <div class="card-body pl-3">
                  <h4 class="card-title text-primary">
                      Chefs  Aryan
                  </h4>
                  <h4 class="card-text"> Recipes : 1   </h4>
              </div>
            </div>
        </div>
        </div>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col text-center class="pl-3 pr-3">
        <div class="box-bg-border">
          <div class="pt-2 pb-2 text-center">
            <a href="#" title="boxehteam">
              <img src="../../../assets/home/icon.png" class="rounded-circle shadow icon-w" alt="boxehteam" title="boxehteam"></a>
            <h3 class="h5 my-3 chefName">
                    boxehteam                                    
            </h3>
            <p class="text-secondary chefRecipe">
              Recipes : 32
            </p>
           

        </div>
          <!-- <p class="ourkitchen" style="text-align: center;"> Our Kitchen Doors Are Open </p>

        <button class="btn btn-primay btn-lg">Join Us</button> -->
        </div>

        <div class="pt-2 pb-5">
          <p class="OurKitchen"> Our Kitchen Doors Are Open </p>
<div class="text text-center text-secondary joinUsButton">
  <button class="btn btn-primay joinus">Join Us</button>
        </div>

        </div>
        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
