<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Boxeh Plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides>
    <ion-slide>
      <div class="home-banner" [style.background-image]="authService.getBackground(data?.data.page_head.bg_cover)">
        <div class="banner-info">
          <div class="page-hero pd-lr-15">
            <h4 style="font-weight: 600;">
              {{data?.data.page_head.title}}
            </h4>
            <div class="pd-lr-15">
              <p class="font-light" style="font-size: 12px;padding-bottom: 10px;color:#fff;font-weight: 500;" [innerHTML]="data?.data.page_head.sub_title"></p>
            </div>
        </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="stepper">
    <!-- <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 1. Pick Your Boxeh
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 2. Select Your Recipes
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 3. Confirm Your Order
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 4. Checkout & Delivery
    </div> -->
    <img src="../../assets/banners/boxehplan.png" style="width: 100%;">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h4 class="text-center mb-2 sectionweek-recipes">Menu for 29 Mar - 04 Apr</h4>
      </ion-col>

      <ion-col size="12" >

        <ion-slides [options]="slideOpts" pager=true>
          <ion-slide *ngFor='let product of data?.data.products'>
            <div class="single-item align-content-stretch checkRadioContainer" style="display: flex">
              <label>
                <input (change)="setRouteToId($event)" [value]="product.id" type="radio" name="radioGroup" id="customRadio"/>
                <div class="card">                          
                  <img *ngIf="product.thumbnail" class="card-img-top" [src]="product.thumbnail">
                  <!-- <img *ngIf="!product.thumbnail" class="card-img-top" src="assets/Boxeh-Plans-1.jpg"> -->
                <div class="card-body my-p-fs p-2">
                  <h5 class="card-title text-center text-primary mt-2 fw-600 fs-18">{{product.name}}</h5>
                  <p class="card-text font-light fs-18 fw-600 mb-0" [innerHtml] = 'product.description'></p>
                </div>
              </div>
              </label>
             
            </div>
          </ion-slide>
        </ion-slides>
        
        <!-- <div class="single-item align-content-stretch checkRadioContainer" style="display: flex" *ngFor='let product of data?.data.products'>
          <label>
            <input (change)="setRouteToId($event)" [value]="product.id" type="radio" name="radioGroup" id="customRadio"/>
            <div class="card">                          
              <img *ngIf="product.thumbnail" class="card-img-top" [src]="product.thumbnail">
              <img *ngIf="!product.thumbnail" class="card-img-top" src="assets/Boxeh-Plans-1.jpg">
            <div class="card-body my-p-fs p-2">
              <h5 class="card-title text-center text-primary mt-2 fw-600 fs-18">{{product.name}}</h5>
              <p class="card-text font-light fs-18 fw-600 mb-0" [innerHtml] = 'product.description'></p>
            </div>
          </div>
          </label>
         
        </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="text-center mb-4">
    <button  (click)="routeToPath()" class="btn btn-primay btn-lg" style="color: #fff; border-radius: 15px; background-color: #a0c643; border-color: #a0c643; font-weight: 900; font-size: 1.25rem; line-height: 1.5;">
      {{data?.data.page_footer.btn_text}}
    </button>
  </div>
</ion-content>
