<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Boxeh Plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides>
    <ion-slide>
      <div class="home-banner" [style.background-image]="authService.getBackground(data?.data.page_head.bg_cover)">
        <div class="banner-info">
          <div class="page-hero pd-lr-15">
            <h4 style="font-weight: 600;">
              A Boxeh Plan for Every Appetite &amp; Fam
            </h4>
            <div class="pd-lr-15">
              <p class="font-light" style="font-size: 12px;padding-bottom: 10px;color:#fff;font-weight: 500;">
                Fresh Ingredients &amp; Foolproof Recipes Designed by Chefs. Delivered to Your Door. Cooked by You</p>
             
            </div>
        </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="stepper">
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 1. Pick Your Boxeh
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 2. Select Your Recipes
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 3. Confirm Your Order
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 4. Checkout & Delivery
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h4 class="text-center mb-2 text-primary">Menu for 02 Feb - 08 Feb</h4>
      </ion-col>

      <ion-col size="12" *ngFor='let product of data?.data.products'>
        <ion-card class="mb-4">
          <img src="assets/Boxeh-Plans-1.jpg" />
          <ion-card-header text-primary>
            <ion-card-title >{{product.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content [innerHtml] = 'product.description'>
            <!-- Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836. -->
          </ion-card-content>
        </ion-card>
        <!-- <ion-card class="mb-4">
          <img src="assets/Boxeh-Plans-1.jpg" />
          <ion-card-header text-primary>
            <ion-card-title >Signature Boxeh</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
        <ion-card class="mb-4">
          <img src="assets/Boxeh-Plans-1.jpg" />
          <ion-card-header text-primary>
            <ion-card-title >Signature Boxeh</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
