.bg-login {
    background: url("../../../assets/backgroung-login.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
  }
// .img-hero-banner{
//     background: url("../../../assets/banners//our-story-banner.jpg");
//     background-size: cover;
//     background-origin: content-box;
//     background-repeat: no-repeat;
//     background-position: top;
// }
.img-hero-banner{
    background: url("../../../assets/banners/suppliershero.png");
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: top;
    height: 10rem;
}
 .page-hero-banner {
    width: 300px;background: #ffffff82;margin-left: auto;margin-right: auto;
}
.text-primary {
    color: #91c11e !important;
}
hr{
    border-top: 0.5px solid rgb(162, 162, 162);
    border-bottom: unset;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.page-content p{
    font-weight: 400;
    color: #616161;
    font-size: 15px;
}
.footer-bottom-img{
    background: url("../../../assets/banners/aboutus-bottom-bg.png");
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: top;
}
.simple-card {
    background: none;
    padding: 20px;
    margin: 0px !important;
    text-align: center;
    line-height: 1.5;
}

.simple-card p{
    font-weight: 400;
    color: #616161;
    font-size: 16px;
}

.supplier-main-title{
    font-family: "Dax Regular", "Helvetica", sans-serif !important;
    font-weight: 800;
    font-size: 32px;
}