<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Our Suppliers</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!loading">
  <ion-grid class="pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner" [style.background-image]="authService.getBackground(supplierData?.data.page_head.bg_cover)">
      <ion-col text-center></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="pl-4 pr-4">
        <article class="simple-card">
          <h1 class="text-primary supplier-main-title our-heading">{{supplierData?.data.page_head.page_title}}</h1>
          <div class="page-content">
              <p class="intro-content" style="color: #212529; font-weight: 900;">
                {{supplierData?.data.page_head.page_content}}
              </p>
          </div>
      </article>
     
      </ion-col>
    </ion-row>
    <div style="background: none; border-bottom: 2px dotted #91c11e;"></div>

    <ion-row class="bg-white">
      <ion-col size="12" class="pb-3" *ngFor="let item of supplierData?.data.suppliers">
          <ion-card style="border: none; box-shadow: none;">
            <img [src]="item.supplier_image" class="p-20px" />
            <ion-card-header class="pt-0">
              <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
              <ion-card-title style="color: #212529; font-weight: 900; text-align: center;">{{item.supplier_name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="linkp" [innerHTML]='item.supplier_details'></p>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
    


    <ion-row class="pb-4 pt-1">
      <ion-col size="12" class="text-center">
        <p class="pb-2 fs-18 mt-0 mb-0" [innerHTML]='supplierData?.data.page_bottom.title'> </p> 
        <button class="btn btn-primay" style="background-color: #a0c643; border: 2px solid #a0c643; color: #fff !important; font-size: 16px; padding: 8px 38px; border-radius: 12px; font-weight: 900;" routerLink="/contact-us">{{supplierData?.data.page_bottom.linktext}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>