<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Our Suppliers</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="bg-login pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner">
      <ion-col text-center>
        <div  class="d-block text-center page-hero-banner ">
          <h4 class="pb-4 pt-4" text-center="">
            Our Suppliers
          </h4>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="pl-4 pr-4">
        <div class="bg-white pl-3 pr-3 border-1">
          <h4 class="text-primary">About Suppliers</h4>
          <hr>
          <div class="page-content">
            <p class="intro-content">At Boxeh, we don’t compromise on quality. We thoughtfully source the best seasonal ingredients from trusted local suppliers and importers. Learn more about our suppliers by exploring their profiles and products below.</p>
<hr>
<h4><span style="color: #91c11e;">Moo Premium Foods</span></h4>
<img src="../../../assets/suppliers/moo_dairy.jpg">
<h5>http://www.moopremiumfoods.com.au/</h5>
<p>As a proudly Australian family owned company, Moo Premium Foods are passionate about letting their dedication to quality shine through in our delicious range of dairy products. Find their delicious greek yoghurt lending its creamy texture to curries, Middle Eastern Mezze plates and indulgent soups.</p>
<hr>
<h4><span style="color: #91c11e;">Meredith Dairy</span></h4>
<img src="../../../assets/suppliers/meredith.jpg">
<h5>http://meredithdairy.com/</h5>
<p>Meredith Dairy is an on-farm family run enterprise, milking sheep and goats year-round to make specialty cheeses and yoghurts. Their mission is to provide high quality, excellent sheep and goat milk products, made in a socially and environmentally responsible business; from milk produced according to leading standards of environmental management and animal husbandry. HelloFresh loves working with this Australian brand who have artisan production methods and environmental sustainability at the core of their business.</p>
        </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="footer-bottom-img mb-5 pt-3">
      <ion-col size="12">
        <div class="d-block page-hero-banner pb-5 pt-5 text-center">
          <h1 class="grey"> What are you waiting for?</h1>
          <p class="grey font-light font-15">More Info</p>
          <ion-button color='primary' size="samll" type="submit"  margin-top routerLink='/join-us'>
            Join Us
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>