.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.recipe__container {
    border: 1px solid #ddd;
    background: #fff;
    margin: 20px auto;
}

.recipe__container .more-info {
    margin-top: 1.9rem !important;
}

.recipe__container .author-img {
    width: 40px;
    height: 40px;
}

.categories {
    margin-top: 0.8rem !important;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    margin-right: 2px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-primary {
    color: #fff;
    background-color: #91c11e;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    display: flex !important;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}
.rounded-circle {
    border-radius: 50% !important;
}

.author__name {
    position: relative;
    top: -17px;
    margin-left: 5px;
    color: #000;
}

.ingredients {
    background-color: #fff;
    padding: 2%;
}
.border-light {
    border: 1px solid #dddddd !important;
}

.text-center {
    text-align: center !important;
}

.ingredients .single-ingredient {
    text-align: center;
}

.ingredients .single-ingredient .ingredient-img {
    display: block;
    margin: 10px auto;
    width: 100px;
}   

.joinUsButton {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
}
.checked {
    color: orange;
  }
  .fa{
      font-size: 16px;
  }

  .nutirition{
    color: #212529;
    margin-top: 40px;
    .text-primary {
        color: #91c11e !important;
    }
    .single-recipe .simple-card {
        border: 1px solid #dddddd !important;
        background-color: #fff;
    }
    .simple-card {
        background: none;
        padding: 10px;
    }
    .nutritional-values {
        text-align: left !important;
    }
    .serving {
        padding-bottom: 4%;
        border-bottom: 3px solid #dadada;
    }

    .serving-size, .servings-recipe, .Amount-Per-Serving, .calories, .Daily-Value {
        font-size: 15px;
        color: #000;
    }

    .Daily {
        padding: 1% 0;
        border-bottom: 1px solid #dadada;
        border-top: 1px solid #dadada;
        margin: 2% 0;
    }

    .float-right {
        float: right !important;
    }
    .nutritional1 {
        padding-bottom: 0%;
        border-bottom: 3px solid #dadada;
    }
    .nutritional1 ul {
        margin-bottom: 2%;
    }
    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }
    .nutritional1 li {
        border-bottom: 1px dashed #dadada;
    }
    .font-weight-bold {
        font-weight: 700 !important;
    }
    .text-secondary {
        color: #5f6062 !important;
    }
    .nutritional2 {
        padding-bottom: 0%;
    }
    .nutritional2 ul {
        margin: 2% 0;
    }
    .nutritional2 li {
        border-bottom: 1px dashed #dadada;
    }
    small, .small {
        font-weight: 400;
    }

  }