<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Recipe Library</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-grid class="pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner" [style.background-image]='authService.getBackground(RecipeLibrary?.data.page_head.bg_cover)'>
      <ion-col text-center>
        <div  class="d-block  text-center text-primary" style="position: absolute;bottom: 0px;left: 0;right: 0;">
          <h4  class="fs-18 fw-600">{{RecipeLibrary?.data.page_head.title}}</h4>
      <p class="fw-600 text-white">{{RecipeLibrary?.data.page_head.sub_title}}</p>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="recipes">
          <ion-row>
            <ion-col size="12" class="pl-4 pr-4 ">
              <div class="bg-white  pt-2 ">
                <h1 class="text-primary text-center fw-600 mb-4 fs-2rem mb-4"> Browse our recipes</h1>
              <div class="page-content text-center">
                <input class="search-border" [(ngModel)]="searchString" id="searchFilter" placeholder="Search" type="text" >
              </div>
              </div>
            </ion-col>
          </ion-row>
          <div>
            <br>
            <ion-slides [options]="slideOpts" pager=true>
              <ion-slide *ngFor="let item of RecipeLibrary?.data.secion_recipes.recipes_list | appFilterSearch2 :'title': searchString;">
                <div class="single-item mb-4 align-content-stretch" style="display: flex">
                  <div class="card">
                    <a routerLink='/weekly-recipes/recipe-blog' [queryParams]="{id: item.id}"><img
                        class="card-img-top" [src]="item.thumbnail_url"
                        alt="{{item.title}}" routerLink='/weekly-recipes/recipe-blog' [queryParams]="{id: item.id}"></a>
                    <div class="card-body p-2">
                      <a *ngFor="let data of item.categories"><span routerLink='/weekly-recipes/recipe-category' [queryParams]="{id: data.id, name:data.name}"
                          class="badge badge-primary font-light small">{{data.name}}</span></a>
                      <h5 class="card-title mt-2"><a
                        routerLink='/weekly-recipes/recipe-blog' [queryParams]="{id: item.id}">{{item.title}}</a></h5>
                      <p class="card-text font-light font-14" [innerHTML]='item.content' routerLink='/weekly-recipes/recipe-blog' [queryParams]="{id: item.id}"></p>
                    </div>
                    <div class="card-footer">
                      <span class="cook-time text-secondary font-weight-bold">{{item.recipe_cooking_time}}</span>
                      <span class="extra font-14 font-light"></span>
                    </div>
                  </div>
                </div>
              </ion-slide>
            </ion-slides>
          </div>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
    <div class="text text-center text-secondary joinUsButton">
      <a routerLink='/boxeh-plans' class="stickybtn  btn-primary btn-lg font-light text-decoration-0">
          Order Now</a>
  </div>
</ion-content>
