<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="stepper pb-4">
    <img src="../../assets/home/checkout.png" style="width: 100%;">
  </div>
  <h1 class="entry-title text-center" style="font-size: 2rem;">Checkout</h1>
  <div class="pl-3 pr-3 pb-4">
    <div class="woocommerce"
      style="background: #ebebeb !important;border: 1px solid #ddd;border-top: 3px solid #91c11e;padding: 0em 1em 1em 1em;margin: 0rem 0 0 0;position: relative;list-style: none outside;width: auto;word-wrap: break-word;">
      <ion-row>
        <ion-col size="12">
          <p class="cart-empty mt-0" style="color: #515151;font-size: 16px;">
            <i class="fa fa-check-circle" aria-hidden="true"
              style="color: #91c11e;font-size: 20px;vertical-align: middle;"></i>
            Click here to enter your code</p>
        </ion-col>
      </ion-row>

    </div>
  </div>
  <form #form="ngForm" (ngSubmit)="placeOrder(form)" class="form-positon">
    <div class="order-info">
      <ion-row>
        <ion-col size="6">
          <p class="mb-0 form-label"> First Name <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" class="input-text" name="first_name" [(ngModel)]='user.first_name' #first_name="ngModel" required placeholder="" autocomplete="off" required>
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && first_name.invalid || first_name.touched && first_name.invalid">
            First Name is required!
          </p>
        </ion-col>
        <ion-col size="6">
          <p class="mb-0 form-label"> Last Name <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" class="input-text" name="last_name" [(ngModel)]='user.last_name' #last_name="ngModel" required placeholder="" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && last_name.invalid || last_name.touched && last_name.invalid">
            Last name is required! </p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label"> Company Name</p>
          <input type="text" name="company" [(ngModel)]='user.company' #company="ngModel" class="input-text" placeholder="" autocomplete="off">
          <!-- <p class="alert alert-danger" role="alert" *ngIf="form.submitted && company.invalid || company.touched && company.invalid">
            Company is required! </p> -->
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label">Country <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" name="country" [(ngModel)]='user.country' #country="ngModel" required class="input-text" placeholder="Country" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && country.invalid || country.touched && country.invalid">
            Country is required!</p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label"> Street address <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" name="address_1" [(ngModel)]='user.address_1' #address_1="ngModel" required class="input-text mb-2" placeholder="House number and street name" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && address_1.invalid || address_1.touched && address_1.invalid">
            Street Address is required!</p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label"> Apartment, suite, unit etc.</p>
          <input type="text" name="address_2" [(ngModel)]='user.address_2' #address_2="ngModel" required class="input-text" placeholder="Apartment, suite, unit etc. (optional)" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && address_2.invalid || address_2.touched && address_2.invalid">
            Apartment, suite, unit etc. are required!</p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label">Town / City <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" name="city" [(ngModel)]='user.city' #city="ngModel" required class="input-text" placeholder="Country" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && city.invalid || city.touched && city.invalid">
            City is required!</p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label">State / County <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" name="state" [(ngModel)]='user.state' #state="ngModel" required class="input-text" placeholder="" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && state.invalid || state.touched && state.invalid">
            Country is required!</p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label">Pin code <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" name="postcode" [(ngModel)]='user.postcode' #postcode="ngModel" required class="input-text" placeholder="" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && state.invalid || postcode.touched && postcode.invalid">
            Pin code is required!</p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label">Phone <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" name="phone" [(ngModel)]='user.phone' #phone="ngModel" required class="input-text" placeholder="" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && phone.invalid || phone.touched && phone.invalid">
            Phone is required!</p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label"> Email Address <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="text" name="email"  [(ngModel)]='user.email' #email="ngModel" class="input-text" placeholder=""  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required email>
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && email.invalid || email.touched && email.invalid ">
           <ng-container *ngIf="email.errors.required">Email is required!</ng-container> 
           <ng-container *ngIf="email.errors.email">Enter a valid email address!</ng-container> 
          </p>
        </ion-col>
        <ng-container *ngIf="!userResponse">
          <ion-col size="12">
            <p class="mb-0 form-label"> Username <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
            <input type="text" name="username" ngModel #username="ngModel"  class="input-text" placeholder="" autocomplete="off">
            <p class="alert alert-danger" role="alert" *ngIf="form.submitted && username.invalid || username.touched && username.invalid">
              Username is required!</p>
          </ion-col>
          <ion-col size="12">
            <p class="mb-0 form-label"> Password <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
            <input type="text" name="password" ngModel #password="ngModel"  class="input-text" placeholder="" autocomplete="off">
            <p class="alert alert-danger" role="alert" *ngIf="form.submitted && password.invalid || password.touched && password.invalid">
              Password is required!</p>
          </ion-col>
        </ng-container>
        <ion-col size="12" class="">
          <h4 class="fw-600" style="font-size: 25px;">Delivery Date &amp; Time</h4>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label">Delivery Day <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <input type="date" name="delivery-date" ngModel #delivery_date="ngModel" required class="input-text" placeholder="" autocomplete="off">
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && delivery_date.invalid || delivery_date.touched && delivery_date.invalid">
            Delivery is required!</p>
        </ion-col>
        <ion-col size="12">
          <p class="mb-0 form-label">Delivery options <i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
          <select name="daypart" ngModel #daypart="ngModel" required class="input-text">
            <option value="08:00 AM - 11:00AM">08:00 AM - 11:00AM</option>
            <option value="02:00 PM - 05:00PM">02:00 PM - 05:00PM</option>
            <option value="06:00 PM - 09:00PM">06:00 PM - 09:00PM</option>
          </select>
          <p class="alert alert-danger" role="alert" *ngIf="form.submitted && daypart.invalid || daypart.touched && daypart.invalid">
            Delivery option is required!</p>
        </ion-col>
        <ion-col size="12" class="">
          <h4 class="fw-600 pb-2" style="font-size: 25px;">Additional information</h4>
          <p class="mb-0 form-label">Order Notes (optional) </p>
          <textarea class="input-text" name="customer_note" ngModel #customer_note="ngModel"  placeholder="Notes about your order, e.g. special notes for delivery." rows="2"
            cols="5"></textarea>
            <!-- <p class="alert alert-danger" role="alert" *ngIf="form.submitted && customer_note.invalid || customer_note.touched && first_name.invalid">
              Order Notes is required!</p> -->
        </ion-col>
        <ion-col size="12" class="">
          <h4 class="fw-600 pb-2" style="font-size: 25px;">Your Order</h4>
        </ion-col>
      </ion-row>
      <div class=" pb-4" *ngFor="let item of cartData">
        <div style="background: #d7d7d7 !important;border: 1px solid #91c11e;word-wrap: break-word;border-radius: 4px;">
          <ion-row>
            <ion-col size="12" class="pl-0 pr-0">
              <ion-row style="border-bottom: 1px solid #91c11e;">
                <ion-col size="6" class="text-left" style="padding: 0.5em 1em 0.5em 1em;">
                  <p class="cart-text mt-0 mb-0">
                    Product
                  </p>
                </ion-col>
                <ion-col size="6" class="text-right" style="padding: 0.5em 1em 0.5em 1em;">
                  <p class="cart-text  mt-0 mb-0">
                    Sub title
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="border-bottom: 1px solid #91c11e;">
                <ion-col size="8" class="text-left" style="padding: 0.5em 1em 0.5em 1em;">
                  <p class="cart-text mt-0 mb-0 pb-0">
                    {{item.productName}}</p>
                  <p class="cart-text mt-0 mb-0 pb-0"> Recipes per week : {{item.recipesPerWeek}}</p>
                  <p class="cart-text mt-0 mb-0 pb-0"> Servings per recipe : {{item.servingsPerRecipe}}</p>
                  <p class="cart-text mt-0 mb-0 pb-0">{{item.selectedRecipes}}</p>

                </ion-col>
                <ion-col size="4" class="text-right" style="padding: 0.5em 1em 0.5em 1em;">
                  <p class="cart-text d-block  mt-0 mb-0">
                    JOD{{item.totalPrice}}
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12" class="pl-0 pr-0" style="border-bottom: 1px solid #91c11e;">
              <ion-row>
                <ion-col size="6" class="text-left "
                  style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
                  <p class="cart-text mt-0 mb-0">
                    Subtotal
                  </p>
                </ion-col>
                <ion-col size="6" class="text-right cart-text"
                  style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
                  <p class="  mt-0 mb-0">
                    JOD {{item.totalPrice}}
                  </p>
                </ion-col>
                <ion-col size="6" class="text-left"
                  style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
                  <p class="cart-text mt-0 mb-0">
                    Shipping
                  </p>
                </ion-col>
                <ion-col size="6" class="text-right"
                  style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
                  <p class="cart-text  mt-0 mb-0">
                    Flat Rate
                  </p>
                  <p class="cart-text  mt-0 mb-0">
                    JOD {{shippingMethods?.data[0].settings.cost.value}}
                  </p>
                </ion-col>
                <ion-col size="6" class="text-left" style="padding: 1em 1em 0.5em 1em;">
                  <p class="cart-text mt-0 mb-0">
                    Total
                  </p>
                </ion-col>
                <ion-col size="6" class="text-right" style="padding: 1em 1em 0.5em 1em;">
                  <p class="cart-text  mt-0 mb-0">
                    JOD {{item.totalPrice + +shippingMethods?.data[0].settings.cost.value}}
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>
      </div>
      <div class="pb-3">
        <div
          style="background: #d7d7d7 !important;border: 1px solid #91c11e;; word-wrap: break-word;border-radius: 4px;">
          <ion-row class="pt-3 pb-3">
            <ng-container *ngFor="let method of paymentMethods?.data; let i=index">
              <ion-col size="12" class="text-left" style="padding: 0.5em 1em 0.5em 1em;">
                <p class="cart-text mt-0 mb-0">
                  <input type="radio" name="payment_method"  [value]="method" required ngModel #payment_method="ngModel" (click)="checkpaymentMethod(method)">
                  {{method.title}}
                </p>
              </ion-col>
              <ion-col>
                <div class="payment_box payment_method_cod" style="position: relative; box-sizing: border-box; width: 100%;padding: 1em;margin: 1em 0;font-size: .92em;
                  border-radius: 2px;line-height: 1.5;background-color: #dfdcde;color: #515151;">
                  <p class="mb-0 mt-2">{{method.description}}</p>
                </div>
              </ion-col>

            <p class="alert alert-danger" role="alert" *ngIf="form.submitted && payment_method.invalid || payment_method.touched && payment_method.invalid">
              Select Valid Payment Methods!</p>
            </ng-container> 

            <!-- credit card payment UI -->
            <ng-container *ngIf="creditCard">
              <ion-col size="12">
                <p class="mb-0 form-label">Card Holder Name<i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
                <input type="text" name="cardHolder" ngModel required class="input-text" placeholder="Enter Name" autocomplete="off">
              </ion-col>
              <ion-col size="12">
                <p class="mb-0 form-label">Card Number<i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
                <input type="number" name="cardNumber" #cardNumber ngModel required class="input-text" placeholder="Valid Card Number" (keyup)="GetCardType(cardNumber.value)">
                <i *ngIf="cardType === 'discover'" class="fa fa-cc-discover" aria-hidden="true" style="position: absolute; top: 32px; right: 10px; font-size: 21px;"></i>
                <i *ngIf="cardType === 'diners'" class="fa fa-cc-diners-club" aria-hidden="true" style="position: absolute; top: 32px; right: 10px; font-size: 21px;"></i>
                <i *ngIf="cardType === 'jcb'" class="fa fa-cc-jcb" aria-hidden="true" style="position: absolute; top: 32px; right: 10px; font-size: 21px;"></i>
                <i *ngIf="cardType === 'amex'" class="fa fa-cc-amex" aria-hidden="true" style="position: absolute; top: 32px; right: 10px; font-size: 21px;"></i>
                <i *ngIf="cardType === 'visa'" class="fa fa-cc-visa" aria-hidden="true" style="position: absolute; top: 32px; right: 10px; font-size: 21px;"></i>
                <i *ngIf="cardType === 'mastercard'" class="fa fa-cc-mastercard" aria-hidden="true" style="position: absolute; top: 32px; right: 10px; font-size: 21px;"></i>
              </ion-col>
              <ion-col size="4">
                <p class="mb-0 form-label">Expiry Date<i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
                <input type="number" name="cardMonth" ngModel required class="input-text" placeholder="MM">
              </ion-col>
              <ion-col size="4">
                <p class="mb-0 form-label">&nbsp;</p>
                <input type="number" name="cardYear" ngModel required class="input-text" placeholder="YY">
              </ion-col>
              <ion-col size="4">
                <p class="mb-0 form-label">CVV Code<i class="fa fa-asterisk icon-astrick" aria-hidden="true"></i></p>
                <input type="number" name="cvv" ngModel required class="input-text" placeholder="YY">
              </ion-col>
            </ng-container>

            <hr>
            <ion-col size="12" class="text-left" style="padding: 0.5em 1em 0.5em 1em;">
              <p class="cart-text">
                Your personal data will be used to process your order, support your experience throughout this website,
                and for other purposes described in our privacy policy.
              </p>
            </ion-col>

            <ion-col size="12" class="">
              <button type="submit" class="btn btn-primary btn-lg btn-block w-100 text-white fw-600"
                style="text-decoration: unset;">
                Place order</button>
              <!-- <ion-button expand="block" type="submit" class="btn btn-primary btn-lg btn-block w-100 text-white fw-600">Place order</ion-button> -->
            </ion-col>

          </ion-row>

        </div>
      </div>
    </div>
  </form>

</ion-content>