<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="pl-2 pr-2">
    <ion-row>
      <ion-col size="12">
        <div class="entry-header">
          <h1 class="entry-title">Addresses</h1>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="w-100">
          <div class="list-group">
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/my-account'>Dashboard</li>
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/my-orders'>Orders</li>
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/downloads'>Downloads</li>
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/edit-address'>Addresses</li>
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/edit-account'>Account details</li>
            <li class="li-font-size list-group-item list-group-item-action" (click)="logout()">Logout</li>
            <li class="li-font-size list-group-item list-group-item-action">

              <div class="woocommerce-MyAccount-content">
                <p>
                  The following addresses will be used on the checkout page by default.</p>
                  <h3>Shipping &amp; Billing Details</h3>
                  <a class="edit" routerLink="/edit-account">Edit</a>
                  <address>{{userResponse?.data.billing_first_name}} {{userResponse?.data.billing_last_name}}<br>
                    {{userResponse?.data.billing_company}}<br>
                    {{userResponse?.data.billing_address_1}}<br>
                    {{userResponse?.data.billing_address_2}}<br>
                    {{userResponse?.data.billing_city}}<br>
                    {{userResponse?.data.billing_state}}<br>
                    {{userResponse?.data.billing_postcode}}
                    <br>
                    {{userResponse?.data.billing_country}}
                  </address>
              </div>

            </li>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>