<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>The Boxeh Way</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!loading">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner" [style.background-image]="authService.getBackground(boxehWhy?.data.page_head[0].bg_cover)">
      <ion-col text-center>
        <div class="d-block text-center banner-text-bottom">
          <h4 class="fw-700 mt-4 text-primary" text-center="">{{boxehWhy?.data.page_head[0].title}}</h4>
          <p >{{boxehWhy?.data.page_head[0].sub_title}}</p>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <!-- section 1 -->
      <ion-col size="12" class="pl-4 pr-4">
        <div class="bg-white pl-3 pr-3 mb-5 mt-5">
          <h2 class="text-primary fw-600">{{boxehWhy?.data.section_how_it_works[0].title}}</h2>
          
          <div class="page-content text-secondary fs-14">
            <p class="intro-content " style="font-weight: 600;">
              {{boxehWhy?.data.section_how_it_works[0].sub_title}} </p>
              <i class="fa fa-plus" aria-hidden="true" style="color: #91c11e; float: left; font-size: 30px; margin-top: -5px; margin-right: 5px; transition: all 0.3s ease-in-out;  font-size: 20px; border: 3px solid; width: 35px; height: 35px; border-radius: 50%; line-height: 29px; text-align: center;" (click)="toggleSection1()"></i>
            <h6 class="text-primary fw-400" (click)="toggleSection1()">{{boxehWhy?.data.section_how_it_works[0].toggle_button_text}}</h6>
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="toggle1 == true" style="background-color: #e8f3d8; color: #212529;" text-center padding>
        <span style="padding:0; text-align: center; color: #212529;" *ngFor="let data of boxehWhy?.data.section_how_it_works[0].toggle_repeater">
          <p><img [src]="data.icon" width="100"></p>
          <p class="fs-16" >{{data.title}}</p>  
          <p class="fs-16 fw-600" style="padding: 0 30px;">{{data.subtitle}}</p>
          <br><br>
        </span>
      </ion-col>


      <!-- section 2 -->
      <ion-col size="12" class="pl-4 pr-4  mt-5 bg-login">
        <div class="pl-3 pr-3">
          <h2 class="text-primary fw-600">{{boxehWhy?.data.section_how_it_works[1].title}}</h2>
          
          <div class="page-content">
            <p class="intro-content" style="font-weight: 600;">
              {{boxehWhy?.data.section_how_it_works[1].sub_title}} </p>
            
              <i class="fa fa-plus" aria-hidden="true" style="color: #91c11e; float: left; font-size: 30px; margin-top: -5px; margin-right: 5px; transition: all 0.3s ease-in-out;  font-size: 20px; border: 3px solid; width: 35px; height: 35px; border-radius: 50%; line-height: 29px; text-align: center;" (click)="toggleSection2()"></i><h6 class="text-primary fw-400" (click)="toggleSection2()">{{boxehWhy?.data.section_how_it_works[1].toggle_button_text}}</h6>
          </div>
        </div>
      </ion-col>

      <ion-col  *ngIf="toggle2" style="background-color: #e8f3d8; color: #212529;" text-center padding>
        <span style="padding:0; text-align: center;color: #212529;" *ngFor="let data of boxehWhy?.data.section_how_it_works[1].toggle_repeater">
          <p><img [src]="data.icon" width="100"></p>
          <p class="fs-16">{{data.title}}</p>  
          <p class="fs-16 fw-600" style="padding: 0 30px;">{{data.subtitle}}</p>
          <br><br>
        </span>
      </ion-col>

      <!-- section 3 -->
      <ion-col size="12" class="pl-4 pr-4 mb-5 mt-5">
        <div class="bg-white pl-3 pr-3">
          <h2 class="text-primary fw-600">{{boxehWhy?.data.section_how_it_works[2].title}}</h2>
          
          <div class="page-content">
            <p class="intro-content " style="font-weight: 600;">
              {{boxehWhy?.data.section_how_it_works[2].sub_title}} </p>
            
            <i class="fa fa-plus" aria-hidden="true"  style="color: #91c11e; float: left; font-size: 30px; margin-top: -5px; margin-right: 5px; transition: all 0.3s ease-in-out;  font-size: 20px; border: 3px solid; width: 35px; height: 35px; border-radius: 50%; line-height: 29px; text-align: center;" (click)="toggleSection3()"></i><h6 (click)="toggleSection3()" class="text-primary fw-400">{{boxehWhy?.data.section_how_it_works[2].toggle_button_text}}</h6>
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="toggle3" style="background-color: #e8f3d8; color: #212529;" text-center padding>
        <span style="padding:0; text-align: center;color: #212529;" *ngFor="let data of boxehWhy?.data.section_how_it_works[2].toggle_repeater">
          <p><img [src]="data.icon" width="100"></p>
          <p class="fs-16">{{data.title}}</p>  
          <p class="fs-16 fw-600" style="padding: 0 30px;">{{data.subtitle}}</p>
          <br><br>
        </span>
      </ion-col>



    </ion-row>
    <ion-row  class="footer-bottom-img" [style.background-image]="authService.getBackground(boxehWhy?.data.section_subscribe.section_background)">
      <ion-col size="12" style="padding: 145px 0; height: 400px;">
        <div class="d-block text-center">
          <h1 class="grey" style="color: #343434;font-weight: 600;width: 300px; text-align: center;margin: auto;font-size: 30px;margin-bottom: 23px;">{{boxehWhy?.data.section_subscribe.title}}</h1>
          <!-- <ion-button color='primary' size="samll" type="submit" class="mt-4" style="border-radius: 15px; box-shadow: none; border: none; text-transform: capitalize;" margin-top >
            {{boxehWhy?.data.section_subscribe.button_text}}
          </ion-button> -->
          <a routerLink="/boxeh-plans" style="font-size: 16px; font-weight: 400; padding: 13px 29px; color: #fff; border-radius: 15px;background-color: #a0c643; border-color: #a0c643;line-height: 1.5;" class="btn btn-primary btn-lg font-light">{{boxehWhy?.data.section_subscribe.button_text}}</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>