.active-item {
    // border-left: 4px solid var(--ion-color-primary);
    --background: var(--ion-color-primary);
    --color: white;
}

ion-item {
    --color: #7f7f7f;
}

img {
    cursor: pointer;
}

ion-list {
    padding: 0;
}

.sub-items {
    font-size: small;
    padding-left: 20px;
}

.logout-item {
    cursor: pointer;
}

.logout-item :hover {
    --background: #f5f5f5;
}