<ion-menu side="start" contentId="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Boxeh <img (click)="closeMenu()" alt="logo" height="30" float-end   src="../../assets/icon/favicon.png" > 
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
   
   <div *ngFor='let page of pages'>

    <ion-menu-toggle *ngIf='!page.isDropDown && !page.isDisabled'>
      <ion-list lines="none">
        <ion-item  [routerLink]="page.url" routerLinkActive="active-item current"
         routerDirection="root">
         <ion-icon [name]='page.icon' slot="start"></ion-icon>
          <ion-label>{{page.pageName}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-menu-toggle>

     <!-- for dropdowns -->
    <ion-item  lines="none" button *ngIf="page.isDropDown && !page.isDisabled" (click)='page.open = !page.open'>
      <ion-icon slot="end" name='arrow-forward' *ngIf='!page.open'></ion-icon>
      <ion-icon slot="end" name='arrow-down' *ngIf='page.open'></ion-icon>
      <ion-icon [name]='page.icon' slot="start"></ion-icon>
      <ion-label>
        {{page.pageName}}
      </ion-label>
    </ion-item>

    <ion-list lines="none" *ngIf='page.open && !page.isDisabled'>
      <ion-menu-toggle>
        <ion-item class='sub-items' *ngFor='let sub of page.children' [routerLink]="sub.url" 
        routerLinkActive="active-item current" routerDirection="root">
        <ion-icon [name]='sub.icon' slot="start"></ion-icon>
         <ion-label>
           {{sub.pageName}}
          </ion-label>
       </ion-item>
      </ion-menu-toggle>
    </ion-list>

   </div>
   
    <div>
      <ion-menu-toggle>
        <ion-list lines="none">
          <ion-item (click)="logout()" >
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </div>
  
    
  </ion-content>
</ion-menu>


  <!-- fab placed to the top start -->

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button><ion-fab-button><ion-icon name="arrow-dropup"></ion-icon></ion-fab-button></ion-fab-button>
  
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>