
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title class="logo">
     <img alt="logo" height="40"   src="../../assets/icon/favicon.png" > 
    </ion-title>
 </ion-toolbar>
 </ion-header>
<ion-grid class="bg-login">
<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)" class="bg-login">
    <ion-grid>
      <ion-row>
        <ion-col size-md="12" size-lg="6" offset-lg="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title text-center>
                <!-- - Login - -->
                <img src="../../assets/icon/icon.png" class="icon-logo">
              </ion-card-title>
            </ion-card-header>
    
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Username or email address</ion-label>
                <ion-input name='username' ngModel type="text" required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input name='password' ngModel type="text" required></ion-input>
              </ion-item>
    
              <div text-center class="pb-15px pt-1">
                <ion-button color='primary' size="samll" type="submit" [disabled]="form.invalid"  margin-top>
                  Login
                </ion-button>
              </div>
    
              <div text-center>
                If you don't have an account, please <a routerLink='/register'>
                  register</a> first!
                  </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

  
    </ion-grid>
  </form>
  
</ion-content>
</ion-grid>