<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>My Downloads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="pl-2 pr-2">
    <ion-row>
      <ion-col size="12">
        <div class="entry-header">
          <h1 class="entry-title">My Downloads</h1>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="w-100">
          <div class="list-group">
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/my-account'>Dashboard</li>
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/my-orders'>Orders</li>
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/downloads'>Downloads</li>
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/edit-address'>Addresses</li>
            <li class="li-font-size list-group-item list-group-item-action" routerLink='/edit-account'>Account details</li>
            <li class="li-font-size list-group-item list-group-item-action" (click)="logout()">Logout</li>
            <li class="li-font-size list-group-item list-group-item-action">
          </div>

          <div class="woocommerce-MyAccount-content" *ngFor="let order of Orders?.data">
            <div class="woocommerce-notices-wrapper"></div>
            <div class="woocommerce-Message woocommerce-Message--info woocommerce-info">
              <span>Order Id = {{order.order_id}} </span><br>
              Please wait to confirm the status of your order <br>
            </div>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>