<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  

  <div class="stepper">
    <!-- <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 1. Pick Your Boxeh
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 2. Select Your Recipes
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 3. Confirm Your Order
    </div>
    <div class="pb-14">
      <ion-checkbox color="primary" class="vertical-middle"></ion-checkbox> 4. Checkout & Delivery
    </div> -->
    <img src="../../assets/home/cart.png" style="width: 100%;">
  </div>
  <div *ngIf="cartData?.length === 0" class="pl-3 pr-3">
    <h1 class="entry-title" style="font-size: 2rem;">Cart</h1>
    <div class="woocommerce">
      <p class="cart-empty woocommerce-info" style="color: #515151; background: #f7f6f7; padding: 1em 1em 1em 1em;margin: 0rem 0 0 0;"> <i class="fa fa-check-circle" aria-hidden="true" style="color: #91c11e;font-size: 20px;vertical-align: middle;"></i> Your cart is currently empty.</p>
      <p class="return-to-shop">
      <a class="btn btn-outline-primary" routerLink="/boxeh-plans">
        Return to shop    </a>
    </p>
  </div>
  </div>

  <div *ngIf="cartData?.length > 0" class="pl-3 pr-3 pb-4">
    <div class="woocommerce" style="background: #f7f6f7 !important;border: 1px solid #ddd;border-top: 3px solid #91c11e;padding: 0em 1em 1em 1em;margin: 0rem 0 0 0;position: relative;list-style: none outside;width: auto;word-wrap: break-word;">
      <ion-col size="12">
        <p class="cart-empty mt-0" style="color: #515151;" > 
          <i class="fa fa-check-circle" aria-hidden="true" style="color: #91c11e;font-size: 20px;vertical-align: middle;"></i> 
          “{{cartData[0]?.productName}}” has been added to your cart.</p>
      </ion-col>
      <ion-col size="12">
        <a routerLink="/boxeh-plans" tabindex="1" class="shoping-btn">Continue shopping</a>
      </ion-col>
  </div>
  </div>

  <div class="pl-3 pr-3 pb-4">
    <div style="background: #d7d7d7 !important;border: 1px solid #91c11e;word-wrap: break-word;border-radius: 4px;"
    *ngFor="let data of cartData; let i=index">
     <ion-row>
      <ion-col size="12"  style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
        <div  style="width: 25px;height: 25px;border: 1px solid red;border-radius: 50%;">
          <a class="remove" (click)="removeFromCart(i)" >x</a>
        </div>
      </ion-col>
      <ion-col size="12"  style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
        <ion-row>
          <ion-col size="4" class="text-left">
            <p class="cart-text mt-0 mb-0">
              Product
            </p>
          </ion-col>
          <ion-col size="8" class="text-right">
            <p class="cart-text  mt-0 mb-0">
             {{data.productName}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="text-left">
            <p class="cart-text mt-0 mb-0">
              Recipes per week:
            </p>
          </ion-col>
          <ion-col size="6" class="text-right">
            <p class="cart-text  mt-0 mb-0">
              {{data.recipesPerWeek}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="text-left">
            <p class="cart-text mt-0 mb-0">
              Servings per recipe:
            </p>
          </ion-col>
          <ion-col size="6" class="text-right">
            <p class="cart-text  mt-0 mb-0">
              {{data.servingsPerRecipe}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="text-left">
            <p class="cart-text mt-0 mb-0">
              Choosen Recipes:
            </p>
          </ion-col>
          <ion-col size="8" class="text-left">
            <p class="cart-text  mt-0 mb-0" [innerText]="data.selectedRecipes">
              <!-- Creamy Mash Tomato Soup (ID:2183) ,Halloumi Curry with Basmati Rice (ID:2182) ,Spicy Thai Shrimp Soup (ID:2177) -->
            </p>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" class="pl-0 pr-0" style="border-bottom: 1px solid #91c11e;">
        <ion-row>
          <ion-col size="6" class="text-left " style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text mt-0 mb-0">
              Price
            </p>
          </ion-col>
          <ion-col size="6" class="text-right " style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text  mt-0 mb-0">
              {{data.price}}
            </p>
          </ion-col>
          <ion-col size="6" class="text-left" style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text mt-0 mb-0">
              Quantity
            </p>
          </ion-col>
          <ion-col size="6" class="text-right" style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text  mt-0 mb-0">
              {{data.quantity}}
            </p>
          </ion-col>
          <ion-col size="6" class="text-left" style="padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text mt-0 mb-0">
              Total
            </p>
          </ion-col>
          <ion-col size="6" class="text-right" style="padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text  mt-0 mb-0">
              {{data.totalPrice}}
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size="12" style="padding: 0.5em 1em 0.5em 1em;">
        <ion-row>
          <ion-col size="12" class="text-left">
            <p class="cart-text mt-0 mb-0">
              <input type="text" placeholder="Coupon code" class="w-100" style="padding: 5px 5px;border-radius: 4px;border: 1px solid #eee;">
            </p>
          </ion-col>
          <ion-col size="6" class="text-left">
            <button type="button" class="btn btn-outline-primary">Apply coupon</button>
          </ion-col>
            <ion-col size="6" class="text-right">
              <button type="button" class="btn btn-outline-primary">Update cart</button>
          </ion-col>
        </ion-row>
  </ion-col>
    </ion-row>

  </div>
  </div>


  <div class="pl-3 pr-3 pb-3">
    <h1 class="entry-title" style="font-size: 1.5rem;">Cart Totals</h1>
    <div style="background: #d7d7d7 !important;border: 1px solid #91c11e;; word-wrap: break-word;border-radius: 4px;">
     <ion-row>
      <ion-col size="12" class="pl-0 pr-0" style="border-bottom: 1px solid #91c11e;">
        <ion-row>
          <ion-col size="6" class="text-left" style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text mt-0 mb-0">
              Price
            </p>
          </ion-col>
          <ion-col size="6" class="text-right" style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text  mt-0 mb-0">
              3
            </p>
          </ion-col>
          <ion-col size="6" class="text-left " style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text mt-0 mb-0">
              Quantity
            </p>
          </ion-col>
          <ion-col size="6" class="text-right" style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text  mt-0 mb-0">
              0
            </p>
          </ion-col>
          <ion-col size="6" class="text-left" style="padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text mt-0 mb-0">
              Total
            </p>
          </ion-col>
          <ion-col size="6" class="text-right" style="padding: 0.5em 1em 0.5em 1em;">
            <p class="cart-text  mt-0 mb-0">
              3
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
     
    </ion-row>
  
  </div>
  <ion-row>
    <ion-col size="12" class="pt-4">
      <a routerLink="/checkout" class="btn btn-primary btn-lg btn-block w-100 text-white fw-600" style="text-decoration: unset;">
        Proceed to checkout</a>
    </ion-col>
  </ion-row>
  </div>
  


  



  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="mb-4">
          <img src="http://boxeh.net/boxeh/wp-content/uploads/2019/07/Boxeh-Plans-3.jpg" />
          <ion-card-header text-primary>
            <ion-card-title>
              <h1 class="title-text">Veggie Boxeh</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="fs-16">Simple, comforting and flavorsome, our Veggie Boxeh is filled with seasonal vegetables,
              legumes, whole grains, and cheese varieties that will fill and satisfy every vegetarian appetite.</p>
            <p class="fs-16">Please select the number of recipes you want to cook this week and the number of servings
              you need. We’ll deliver everything in one Boxeh. The prices shown below is per serving.</p>
          </ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Recipes per week</ion-label>
              <ion-select placeholder="">
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label>Servings per recipe</ion-label>
              <ion-select placeholder="">
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <p class="price fs-16 fw-600">JOD9.00 total price</p>
        </ion-card>
        
      </ion-col>
    
    </ion-row>
  </ion-grid>
  <div class="text-center pb-4">
    <h4 class="text-primary mb-2 text-center" style="font-size: 26px;">Choose Your Recipes</h4>
    <button class=" btn btn-primary btn-lg fw-600"  disabled="disabled">Add to cart</button>
</div> -->
</ion-content>

