.stepper {
    background-color: #e8f3d8;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 5px;
}
.vertical-middle{
    vertical-align: middle;
}

ion-checkbox{
    width: 20px;
    height: 20px;
    border-radius: 50%!important;  
  }

.pb-14{
    padding-bottom: 15px ;
}
.title-text{
    font-size: 2rem;
    font-weight: 600;
}
.price {
    color: #77a464;
    font-size: 1.25em;
    padding: 0 15px 0 15px;
}