<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title class="logo home-logo">
      <span style="float: left; margin-top: 10px;">Order Received</span>
      <img alt="logo" routerLink="/" height="40" src="../../assets/icon/favicon.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="stepper">
    <img src="../../../assets/home/order_recieve.png" style="width: 100%;">
    </div>
    <h1 class="entry-title">Order Received</h1>

    <p class="p-sub text-center">Thank you. Your order has been received.</p>
    <ion-grid class="pl-3 pr-3">
      <ion-row>
        <ion-col size="5">
          <p class="m-0 pb-0">
            ORDER NUMBER:
          </p>
          <p class="m-0 ptab-details">
            {{this.orderReceived?.data.order_id}}
          </p>
        </ion-col>
        <ion-col size="2" style="border-left: 1px dashed #c3c3c3;"></ion-col>
        <ion-col size="5">
          <p class="m-0 pb-0">DATE:</p>
          <p class="m-0 pb-0 ptab-details">
            {{this.orderReceived?.data.date_created | date:'dd/MM/yyyy'}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="mt-3">
        <ion-col size="5">
          <p class="m-0 pb-0">
            TOTAL:
          </p>
          <p class="m-0 pb-0 ptab-details">
            JOD{{this.orderReceived?.data.items[0].total}}
          </p>
        </ion-col>
        <ion-col size="2" style="border-left: 1px dashed #c3c3c3;"></ion-col>
        <ion-col size="5">
          <p class="m-0 pb-0">PAYMENT METHOD:</p>
          <!-- <p class="m-0 pb-0 ptab-details">
            Cash on delivery
          </p> -->
          Accepted
        </ion-col>
      </ion-row>
      <ion-row>
        <p class="p-sub text-center pb-0 mb-0">Pay with cash upon delivery.</p>
        <h1 class="entry-title mb-2 mt-2">Order Details</h1>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class=" pb-4">
            <div style="background: #d7d7d7 !important;border: 1px solid #91c11e;word-wrap: break-word;border-radius: 4px;">
              <ion-row>
                <ion-col size="12" class="pl-0 pr-0">
                  <ion-row style="border-bottom: 1px solid #91c11e;">
                    <ion-col size="6" class="text-left" style="padding: 0.5em 1em 0.5em 1em;">
                      <p class="cart-text mt-0 mb-0">
                        Product
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-right" style="padding: 0.5em 1em 0.5em 1em;">
                      <p class="cart-text  mt-0 mb-0">
                        Total
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row style="border-bottom: 1px solid #91c11e;">
                    <ion-col size="8" class="text-left" style="padding: 0.5em 1em 0.5em 1em;">
                      <p class="cart-text mt-0 mb-0 pb-0">
                        {{this.orderReceived?.data.items[0].name}}</p>
                      <p class="cart-text mt-0 mb-0 pb-0"> Recipes per week : {{this.orderReceived?.data.items[0].meta_data[0].value}}</p>
                      <p class="cart-text mt-0 mb-0 pb-0"> Servings per recipe : {{this.orderReceived?.data.items[0].meta_data[1].value}}</p>
                      <p class="cart-text mt-0 mb-0 pb-0">{{this.orderReceived?.data.items[0].meta_data[2].value}}</p>
    
                    </ion-col>
                    <ion-col size="4" class="text-right" style="padding: 0.5em 1em 0.5em 1em;">
                      <p class="cart-text d-block  mt-0 mb-0">
                        JOD{{this.orderReceived?.data.items[0].total}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-col>
    
                <ion-col size="12" class="pl-0 pr-0" style="border-bottom: 1px solid #91c11e;">
                  <ion-row>
                    <ion-col size="6" class="text-left "
                      style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
                      <p class="cart-text mt-0 mb-0">
                        Subtotal
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-right cart-text"
                      style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
                      <p class="  mt-0 mb-0">
                        JOD{{this.orderReceived?.data.items[0].total}}
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-left"
                      style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
                      <p class="cart-text mt-0 mb-0">
                        Shipping
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-right"
                      style="border-bottom: 1px solid #91c11e;padding: 0.5em 1em 0.5em 1em;">
                      <p class="cart-text  mt-0 mb-0">
                        Flat Rate
                      </p>
                      <p class="cart-text  mt-0 mb-0">
                        JOD0.00
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-left" style="border-bottom: 1px solid #91c11e;padding: 1em 1em 0.5em 1em;">
                      <p class="cart-text mt-0 mb-0">
                        Payment method:
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-right" style="border-bottom: 1px solid #91c11e;padding: 1em 1em 0.5em 1em;">
                      <p class="cart-text  mt-0 mb-0">
                        Accepted
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-left" style="border-bottom: 1px solid #91c11e;padding: 1em 1em 0.5em 1em;">
                      <p class="cart-text mt-0 mb-0">
                        Quantity
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-right" style="border-bottom: 1px solid #91c11e;padding: 1em 1em 0.5em 1em;">
                      <p class="cart-text  mt-0 mb-0">
                        {{this.orderReceived?.data.items[0].quantity}}
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-left" style="border-bottom: 1px solid #91c11e;padding: 1em 1em 0.5em 1em;">
                      <p class="cart-text mt-0 mb-0">
                        Total
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-right" style="border-bottom: 1px solid #91c11e;padding: 1em 1em 0.5em 1em;">
                      <p class="cart-text  mt-0 mb-0">
                        JOD{{this.orderReceived?.data.items[0].total}}
                      </p>
                    </ion-col>
                    <!-- <ion-col size="6" class="text-left" style="padding: 1em 1em 0.5em 1em;">
                      <p class="cart-text mt-0 mb-0">
                        Note:
                      </p>
                    </ion-col>
                    <ion-col size="6" class="text-right" style="padding: 1em 1em 0.5em 1em;">
                      <p class="cart-text  mt-0 mb-0">
                        additional information
                      </p>
                    </ion-col> -->
                  </ion-row>
                </ion-col>

              </ion-row>
    
            </div>
          </div>
        </ion-col>

        <!-- <ion-col class="pl-0 pr-0 mb-5" style="border-bottom: 1px solid #91c11e;background: #d7d7d7 !important;border: 1px solid #91c11e;word-wrap: break-word;border-radius: 4px;">
          <ion-row class="">
            <ion-col size="6" class="text-left" style="padding: 1em 1em 0.5em 1em;">
              <p class="cart-text mt-0 mb-0">
                Delivery options:
              </p>
            </ion-col>
            <ion-col size="6" class="text-right" style="padding: 1em 1em 0.5em 1em;">
              <p class="cart-text  mt-0 mb-0">
                8:00 AM – 11:00 AM
              </p>
            </ion-col>
          </ion-row>
        </ion-col> -->

      </ion-row>
    </ion-grid>
</ion-content>
