@font-face {
    font-family: 'Dax Light';
    src: url('../assets/fonts/DaxLight.ttf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Dax Light';
    src: url('../assets/fonts/DaxRegular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Dax Light';
    src: url('../assets/fonts/DaxBold.ttf');
    font-weight: 900;
    font-style: normal;
  }

  // @font-face {
  //   font-family: 'customfont';
  //   src: url('../assets/fonts/customfont.eot') format('embedded-opentype'),
  //     url('../assets/fonts/customfont.ttf') format('truetype'),
  //     url('../assets/fonts/customfont.woff') format('woff'),
  //     url('../assets/fonts/customfont.svg') format('svg');
  //   font-weight: normal;
  //   font-style: normal;
  // }