<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>{{ourStory?.data.page_head.page_title}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="bg-login pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner"
      class="main-banner"
      [style.background-image]="getBackground(ourStory?.data.page_head.bg_cover)">
      <!-- [style.background]="'url(' + ourStory?.data.page_head.bg_cover + ')'" -->
      <ion-col text-center>
        <div class="d-block text-center page-hero-banner">
          <h4 class="our-story-main"> What Gets Us Out </h4>
           <h4 class="our-story-sub">  of Bed Everyday</h4>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="">
        <div>
          <h4 class="text-primary boxes-heading" >
            Our Story</h4>
          <div class="page-content" style="text-align: center;">
            <div class="page-content" style="text-align: center;padding: 10px;" [innerHTML]='ourStory?.data.page_head.page_content'>
              <!-- <p class="intro-content">It's all about making it easier for people to cook &amp; enjoy great meals at
                home.</p>
              <p>We're a dedicated team of foodies, culinary artists, and creatives that work together as a family to
                bring zest and delight back to your kitchen, one Boxeh at a time.</p>
              <p>We aim to provide households and families of different sizes and lifestyles with the opportunity to
                enjoy delicious, home-made meals without the hassle of meal planning and shopping.</p>
              <p>We collaborate with top local chefs and trusted suppliers to thoughtfully plan, source, pack and
                deliver everything you need to make scrumptious meals at home to your front door.</p> -->
            </div>

            <div style="background: #515151 !important; color: #fff; padding:40px 0;">
              <h4><span style=" color: #fff;" >{{ourStory?.data.section1[0].title}}…</span></h4>
             
                
                <p [innerHTML]='ourStory?.data.section1[0].content'  style="width: 73%; text-align: center; position: relative; left: 12%; top: 11%; font-size: 12px; color: #fff;"></p>
            </div>

            <div style="padding:10px 35px;">
            <h4 class="text-primary boxes-heading">{{ourStory?.data.section2.title}}</h4>
              <div *ngFor='let text of ourStory?.data.section2.textwithimage'>
                <h5 class="fw-500" style="font-size: 20px; width: 100%; position: relative; left: -1%; ">{{text.titleimage}}</h5>
                <p>{{text.contentimage}}</p>
                <p><img src="{{text.image_value}}"></p>
              </div>
       
             
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="footer-bottom-img  pt-3">
      <ion-col size="12">
        <div class="d-block pb-5 pt-5 text-center" [style.background-image]="'url(' + ourStory?.data.subscribe_section.subscription_background + ')'" class="footer-bg">
         <div style="width: 500px; max-width: 90%; display: block; margin: 25px auto; position: relative; top: 30%;">
            <h1 class="grey" style="margin-top: 20px; font-size: 26px; color: #343434; line-height: 1.2; width: 80%; margin: 0 auto; text-align: center; padding-bottom: 1.2rem; text-transform: capitalize;font-weight: 900;"> {{ourStory?.data.subscribe_section.subscription_main_text}}</h1>
            <!-- <p class="grey font-light font-15"> Start planning your greatest meals.</p> -->
            <!-- <ion-button color='primary' size="samll" type="submit"  margin-top>
              Choose Your Boxeh
            </ion-button> -->
            <button class="btn btn-primay btn-lg" style="font-size: 16px; display: block; margin: 0 auto; font-weight: 400; padding-left: 30px; padding-right: 30px; color: #fff; border-radius: 15px;line-height: 1.6rem;font-weight: 700;">{{ourStory?.data.subscribe_section.subscription_button_text}}</button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>