<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Join Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner">
      <ion-col text-center>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="pl-4 pr-4 mt-3">
        <div class="bg-white pl-3 pr-3">
          <h4 class="text-primary text-center fw-600 heading-h4">Got What It Takes to Cook Up a Storm?</h4>
          <div class="the-content-text">
<p class="intro-content fw-600"><span class="span_text-color paragraph-text-size">What You’ll Knead</span></p>
<ul>
<li><span class="span_text-color paragraph-text-size">Sharp palate and knives</span></li>
<li><span class="span_text-color paragraph-text-size">Degree from a culinary school or college (desirable)</span></li>
<li><span class="span_text-color paragraph-text-size">Passion for sharing knowledge and cooking techniques</span></li>
<li><span class="span_text-color paragraph-text-size">Practical work experience or training in a professional kitchen</span></li>
<li><span class="span_text-color paragraph-text-size">Enthusiasm for experimenting with new recipes and flavor combinations</span></li>
<li><span class="span_text-color paragraph-text-size">Ability to write professional and easy-to-follow recipes.</span></li>
</ul>
<div class="divider-border"></div>
<h4 class="text-primary text-center  heading-h4 fw-600" >Boxeh Chef Perks</h4>
<p><span class="span_text-color paragraph-text-size">Some of What You’ll Get</span></p>
<ul>
<li><span class="span_text-color paragraph-text-size">Exposure to our audience and community</span></li>
<li><span class="span_text-color paragraph-text-size">Featured profile (picture, bio, social media links) on our website &amp; social media channels</span></li>
<li><span class="span_text-color paragraph-text-size">Reach a larger audience through Boxeh’s marketing campaigns &amp; promotional activities</span></li>
<li><span class="span_text-color paragraph-text-size">Opportunity to share cooking tips, ideas, and posts on our social media accounts</span></li>
<li><span class="span_text-color paragraph-text-size">Financial reward for the chef with the most popular recipes on our website</span></li>
<li><span class="span_text-color paragraph-text-size">Special appearance in Boxeh’s Cooking videos</span></li>
</ul>
<div class="divider-border"></div>
<h4 class="text-primary text-center fw-600 heading-h4" >How We Select the Best Talents</h4>
<p class="text-center"><span class="span_text-color">Our Application Process</span></p>
<p>
  <img class="w-100" src="../../../assets/boxeh-eng-edit.png" >
</p>
<div class="divider-border"></div>
<h4 class="text-primary text-center heading-h4 fw-600" >Life Is All About Exploring Pasta-bilities</h4>
        </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt-2">
      <ion-col size="12">
      <!-- <form onsubmit="processForm(event)"  class="form-positon border-1">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telephone Number<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="number" oninput="handleFirstNameValue(event)"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address </ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">City </ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          
          
        </ion-list>
  
      </form> -->
      <ion-row class="pl-4 pr-4">
        <ion-col size="6">
          <input type="text" class="input-text"   placeholder="First Name"  autocomplete="off">
        </ion-col>
        <ion-col  size="6">
          <input type="text" class="input-text"   placeholder="Last Name"  autocomplete="off">
        </ion-col>
        <ion-col  size="12">
          <input type="text" class="input-text"   placeholder="Email"  autocomplete="off">
        </ion-col>
        <ion-col  size="12">
          <input type="text" class="input-text"   placeholder="Number"  autocomplete="off">
        </ion-col>
        <ion-col  size="6">
          <input type="text" class="input-text mb-2"   placeholder="Address"  autocomplete="off" >
        </ion-col>
        <ion-col  size="6">
          <input type="text" class="input-text"   placeholder="City"  autocomplete="off">
        </ion-col>
        <ion-col size="12">
          <span style="color: #424242;font-size: 13px;">Upload your CV</span>
          <input type="file"  class="input-text" style="color: #495057!important">
          <span style="color: #424242;font-size: 13px;">this document should be ( pdf-doc-docs)</span>
        </ion-col>
        
      </ion-row>
      
      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" text-center style="background-color: #a0c643; border: 2px solid #8b8d84; color: #fff; font-size: 17px; width: 49%; font-weight: normal; margin-left: 13px;">Apply Now</ion-button>
      </div>

    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


