<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Join Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-login pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner">
      <ion-col text-center>
        <div  class="d-block text-center page-hero-banner ">
          <h4 class="pb-4 pt-4 mt-5" text-center="">
                  JOIN US</h4>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="pl-4 pr-4 mt-3">
        <div class="bg-white pl-3 pr-3 border-1">
          <h4 class="text-primary" style="text-align: center;">Got What It Takes to Cook Up a Storm?</h4>

          <hr>
          <div class="the-content-text">
<p class="intro-content"><span style="color: #7f8081;">What You’ll Knead</span></p>
<ul>
<li><span style="color: #7f8081;">Sharp palate and knives</span></li>
<li><span style="color: #7f8081;">Degree from a culinary school or college (desirable)</span></li>
<li><span style="color: #7f8081;">Passion for sharing knowledge and cooking techniques</span></li>
<li><span style="color: #7f8081;">Practical work experience or training in a professional kitchen</span></li>
<li><span style="color: #7f8081;">Enthusiasm for experimenting with new recipes and flavor combinations</span></li>
<li><span style="color: #7f8081;">Ability to write professional and easy-to-follow recipes.</span></li>
</ul>
<hr>
<h4 class="text-primary" style="text-align: center;">Boxeh Chef Perks</h4>
<p><span style="color: #7f8081;">Some of What You’ll Get</span></p>
<ul>
<li><span style="color: #7f8081;">Exposure to our audience and community</span></li>
<li><span style="color: #7f8081;">Featured profile (picture, bio, social media links) on our website &amp; social media channels</span></li>
<li><span style="color: #7f8081;">Reach a larger audience through Boxeh’s marketing campaigns &amp; promotional activities</span></li>
<li><span style="color: #7f8081;">Opportunity to share cooking tips, ideas, and posts on our social media accounts</span></li>
<li><span style="color: #7f8081;">Financial reward for the chef with the most popular recipes on our website</span></li>
<li><span style="color: #7f8081;">Special appearance in Boxeh’s Cooking videos</span></li>
</ul>
<hr>
<h4 class="text-primary" style="text-align: center;">How We Select the Best Talents</h4>
<p style="text-align: center;"><span style="color: #7f8081;">Our Application Process</span></p>
<p>
  <img class="w-100" src="../../../assets/boxeh-eng-edit.png" >
</p>
<hr>
<h4 class="text-primary" style="text-align: center;">Life Is All About Exploring Pasta-bilities</h4>
<p>&nbsp;</p>
        </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt-2">
      <ion-col size="12">
      <div class="bg-contact">
      <form onsubmit="processForm(event)"  class="form-positon border-1">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telephone Number<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="number" oninput="handleFirstNameValue(event)"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address </ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">City </ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          
          
        </ion-list>
  
      </form>
      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" text-center>Apply Now</ion-button>
      </div>
    </div>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


