<ngx-loading [show]="loading"></ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title>Our Collaborators</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!loading">
  <ion-grid class="pt-0 pl-0 pr-0">
    <ion-row class="img-hero-banner" [style.background-image]='authService.getBackground(OurCollaborators?.data.page_head.bg_cover)'>
      <ion-col text-center>
        <div class="d-block text-center page-hero-banner ">
          
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="bg-white pl-3 pr-3">
          <h1 class="text-primary text-center" style="font-weight: 600;font-size: 2rem;">{{OurCollaborators?.data.page_head.page_title}}</h1>
          <div class="page-content text-center">
            <p class="intro-content text-center" style="font-weight: 900;" [innerHTML]='OurCollaborators?.data.page_head.page_content'></p>
          </div>
        </div>
        <div style="background: none; border-bottom: 2px dotted #91c11e;"></div>
        <div class="bg-white pl-3 pr-3">
          <h1 class="text-primary text-center" style="font-weight: 600;font-size: 2rem;">{{OurCollaborators?.data.section_our_inspiration.our_inspiration_rows[0].Title}}</h1>
          <img [src]="OurCollaborators?.data.section_our_inspiration.our_inspiration_rows[0].image" style="width: 100%; padding-left: 15px; padding-right: 15px;">
          <figcaption style="font-weight: 900; font-size: 15px; padding: 0 15px; color: #616161;">{{OurCollaborators?.data.section_our_inspiration.our_inspiration_rows[0].content}} </figcaption>
        
          <div class="page-content">

            <p style="font-weight: 900;" [innerHTML]='OurCollaborators?.data.section_our_inspiration.our_inspiration_content'></p>

            <div style="background: none; border-bottom: 2px dotted #91c11e;"></div>

            <h1 class="text-center" style="font-weight: 600;font-size: 1.75rem;color: #212529; font-size: 32px;">{{OurCollaborators?.data.section_our_collaborators.title}} </h1>
            <p class="text-center" style="font-weight: 900;" [innerHTML]='OurCollaborators?.data.section_our_collaborators.sub_title'></p>
            <ng-container *ngFor="let item of OurCollaborators?.data.section_our_collaborators.partners">
              <div style="text-align: center;">
                <img [src]="item.image" style="border-radius: 50%;height: 150px;width: 150px;">
                <h5 style="font-size: 1.35rem;font-weight: 600;color: #212529;">{{item.name}}</h5>
                <!-- <h6 style="margin-top: 5px;"><span class="fw-500" style="color: #91c11e; text-align: left; float: left; display: inline-block; width: 100%; font-size: 16px;">Art Director </span></h6> -->
              </div>
              <p style="font-weight: 900;text-align: center;" class="p_span" [innerHTML]='item.description'></p>
            </ng-container>
              <div class="text-center mb-4">
                <button class="btn btn-primay btn-lg" style="color: #fff; border-radius: 15px; background-color: #a0c643; border-color: #a0c643; font-weight: 900; font-size: 1.25rem; line-height: 1.5;">Contact Us</button>
              </div>

              <div style="background: none; border-bottom: 2px dotted #91c11e;"></div>


          </div>
        </div>
        
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>