.bg-login {
    background: url("../../../assets/backgroung-login.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
  }
.img-hero-banner{
    background: url("../../../assets/banners/collaborators.jpg");
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: top;
}
 .page-hero-banner {
    width: 300px;background: #ffffff82;margin-left: auto;margin-right: auto;
}
.text-primary {
    color: #91c11e !important;
}
hr{
    border-top: 0.5px solid rgb(162, 162, 162);
    border-bottom: unset;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.page-content p{
    font-weight: 400;
    color: #616161;
    font-size: 15px;
}
.footer-bottom-img{
    background: url("../../../assets/banners/aboutus-bottom-bg.png");
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: top;
}

.main-banner{
    background-size: cover !important;
    background-origin: content-box !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    height: 200px;
}