
.home-banner{
    // height: 280px;
    height: 16rem;
    // background-image: url(../../assets/banners/Home-Page-Header-Sized.jpg);
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner-info h2{
    font-family: "Dax Regular", "Helvetica", sans-serif;
}
.section-bg-3 h1{
    font-family: "Dax Regular", "Helvetica", sans-serif; 
    font-size: 32px; 
}
.pd-lr-15{
    padding: 0 15px;
}

.h3-mgn{
    margin-top: 0px;
    vertical-align: middle;
}

.h-3{
    font-family: "Dax Bold", "Helvetica", sans-serif;
}
.section-bg-1{
    background: #fff;
}
.section-bg-1 h4{
    font-size: 32px;
}
.height-img{
    max-height: 45px !important;
    width: 45px;
}
.div-ptb{
    padding: 15px 10px;
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.li-font-color{
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    font-weight: 900;
}
.section-bg-2{
    // background-image: url(../../assets/home/background-2.png);
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-bg-3{
    // height: 300px;
    // background-image: url(../../assets/home/Footerbg.png);
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-bg-4{
    // height: 300px;
    // background-image: url(../../assets/banners/home-banner-bg2.png);
    // background: #91c136;
    background: url("../../assets/backgroung-login.png");
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.segment-button-checked {
    color: #fff !important;
    background: grey !important;
    border: 0px solid grey;
}

ion-segment-button{
    color: #808080 !important;
}
.box-plus-icon{
    font-size: 30px;
    font-weight: 900;
    color: #91c11e;
    vertical-align: middle;
}
.child-segement .segment-button-checked[_ngcontent-dvg-c2]{
    color: #fff !important;
    background: #ccc;
    border: 0px solid #ccc;
}

.my-grid-border .box-border:first-child{
    border-right: unset!important;
    border-bottom: unset!important;
}
.my-grid-border .box-border:nth-child(2){
    border-bottom: unset!important;
}
.my-grid-border .box-border:nth-child(3){
    border-right: unset!important;
}
.text-h4{
    padding: 0px 5px;
    font-weight: 600;
    font-size: 1.5rem;
}

.week-recipes{
    font-size: 26px;
    color: #91c11e;
    font-weight: 600;
}

.single-item {
    padding: 25px;
    outline: none;
}

.single-item .card{
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ebebeb;
    background-clip: border-box;
    border: 1px solid #7a7a7a;
    border-radius: 12px;
    padding: 7px;
}

.single-item .card-img-top{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-radius: 23px !important;
}

.single-item .card-body{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 0.5rem !important;
    text-align: left;
}

 .single-item .badge {
    font-weight: 600;
}

.single-item .card .badge-primary {
    padding: 4px;
    padding-right: 12px;
    padding-left: 13px;
    font-size: 12px;
    border-radius: 9px;
    margin: 2px;
    padding-top: 5px;
}

.badge-primary{
    color: #212529;
    background-color: #91c11e;
}

.badge-primary{
    color: #fff !important;
}

 .single-item .card-text {
    font-size: 14px;
}

.single-item .card-text[_ngcontent-rsi-c3]:last-child {
    margin-bottom: 0;
}

 .single-item .card-footer{
    background-color: #ebebeb;
    padding: 0px 15px;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    margin-bottom: -15px;
    border: none;
    border-radius: 0px;
    border-bottom: none;
    width: 100%;
    position: relative;
    left: 0%;
    height: 34px;
    top: -2.5%;
    vertical-align: middle;
    border-top: 1px solid #7a7a7a;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

 .single-item .card-footer .cook-time{
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    display: inline-block;
    padding-right: 7px;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 6px;
}

 .single-item .card-footer .extra{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border-left: 1px solid #7a7a7a;
}