<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title class="logo home-logo">
      <img alt="logo" height="40" src="../../assets/icon/favicon.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides>
    <ion-slide>
      <div class="home-banner" [style.background-image]="authService.getBackground(homeData?.data.page_head.bg_cover)">
        <div class="banner-info" style="top: 100px;">
          <h2 class="page-hero pd-lr-15 fs-20"> <b>{{homeData?.data.page_head.title}} </b></h2>
          <div class="pd-lr-15">
            <p class="font-light" [innerHTML]='homeData?.data.page_head.sub_title' style="padding-bottom:0;"></p>
            <button class="btn btn-primay btn-lg">{{homeData?.data.page_head.button_text}}</button>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-grid class="section-bg-1 div-ptb">
    <ion-row >
      <ion-col size="12">
        <h4 text-center class="h3-mgn text-primary pb-3 fw-600"> {{homeData?.data.section_how_it_works.title}}</h4>
      </ion-col>
    </ion-row>
    <ion-row class="my-grid-border">
      <ion-col size="6" text-center class="box-border" *ngFor='let feature of homeData?.data.section_how_it_works.features'>
        <div class="div-ptb">
          <img [src]="feature.feature_image" class="height-img" style="width: 40px;">
          <p class="fs-14" text-center> {{feature.feature_title}} </p>
        </div>
      </ion-col>
      <ion-col size="12" text-center class="pt-4 pb-4">
        <button class="btn btn-primay btn-lg">{{homeData?.data.section_how_it_works.button_text}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="divider-border"></div>
  <ion-grid class="div-ptb">
    <ion-row>
      <ion-col size="12">
        <h4 text-center class="boxeh-text-primary text-h4"> {{homeData?.data.section_choose_plan.title}}</h4>
      </ion-col>
      <ion-col size="12">
        <div style="padding: 0px 20px; text-align: left;" [style.background-image]="authService.getBackground(homeData?.data.section_choose_plan.section_background)">
          <ul class="list-unstyled">
            <li class="font-light li-font-color mb-3" *ngFor='let advantage of homeData?.data.section_choose_plan.advantages'>
              <span class="box-plus-icon">+</span> &nbsp;  <span>{{advantage}}</span>
            </li>
          </ul>
        </div>
      </ion-col>
      <ion-col size="12" text-center class="pt-4 pb-4">
        <button class="btn btn-primay btn-lg">{{homeData?.data.section_choose_plan.button_text}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="divider-border"></div>
  <ion-grid class="section-bg-4 div-ptb">
    <ion-row>
      <ion-col size="12">
        <h3 text-center class="text-primary week-recipes h-3"> {{homeData?.data.section_week_recipes.sub_title}} </h3>
        <p class="text-center">check out menu for 09 Feb - 15 Feb
        </p>
      </ion-col>
      <ion-col size="12" text-center class="pt-1 pb-2">
        <ion-segment  [(ngModel)]="segment" (ionChange)="segmentChanged($event)" >
          <ion-segment-button [value]="work.id" *ngFor='let work of homeData?.data.section_week_recipes.weeks_to_show'>
            <ion-label>{{work.name}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="12" text-center class="pt-1 pb-2" style="margin-left: -5px;">
        <div [ngSwitch]="segment">
          <ng-container *ngFor='let content of homeData?.data.section_week_recipes.single_recipe_content'>
            <ng-container *ngSwitchCase="content.tab_pane" >
              <ion-segment  [(ngModel)]="recipeSegment" (ionChange)="recipeSegmentChanged($event)">
                <ion-row class="child-segement">
                  <ion-col size="3" text-center class="pt-1 pb-2"  *ngFor='let recipeSegment of content.tablist'>
                    <ion-segment-button [value]="recipeSegment[0].id">
                      <ion-label class="segement-label" style="font-size: 10px;">{{recipeSegment[0].title}}</ion-label>
                    </ion-segment-button>
                  </ion-col>
                </ion-row>
              </ion-segment>
              <div [ngSwitch]="recipeSegment">
                <ng-container *ngFor='let recipeContent of content.tab_content'>
                  <ng-container *ngFor='let recipes of recipeContent.recipes'>
                  <ion-card *ngSwitchCase="recipeContent.id">
                    <ion-card-header class="text-left">
                      {{recipes.title}}
                    </ion-card-header>
                    <span *ngFor="let item of recipes.recipes"><img [src]="item.thumbnail"></span>
                    <ion-chip *ngFor="let item of recipes.category" outline>
                      <ion-label color="success">{{item.name}}</ion-label>
                    </ion-chip>
                    <ion-card-content class="text-left">
                      {{recipes.content}}
                    </ion-card-content>
                    <hr style="height: 1px; border-top: 2px dashed #91c11e; padding: 0; margin: 0;">
                    <p style="display: block; width: 100px; border-right: 1px dashed #91c11e; padding: 12px; margin: 0;">{{recipes.recipe_cooking_time}}</p>
                  </ion-card>
                </ng-container>
                
                </ng-container>   
                <div class="mt-3">
                  <button class="btn btn-primay btn-lg">Browse Our Menu</button>
                </div>   
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ion-col>
     
    </ion-row>
  </ion-grid>
  <ion-grid class="section-bg-3 div-ptb" [style.background-image]="authService.getBackground(homeData?.data.section_subscribe.section_background)">
    <ion-row>
      <ion-col size="12" class="pt-4">
        <h1 text-center class="fw-600"> {{homeData?.data.section_subscribe.title}} </h1>
        <p class="text-center" class="fs-16" style="font-size: 16px; padding: 10px 18px; color:#000;" [innerHTML]='homeData?.data.section_subscribe.sub_title'>
        </p>
      </ion-col>
      <ion-col size="12" text-center class="pt-1 pb-4">
        <button routerLink='/boxeh-plans' class="btn btn-primay btn-lg">{{homeData?.data.section_subscribe.button_text}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>