
<ion-header>
  <ion-toolbar>
    <ion-button slot="start" id="menu-toggle-button" style="z-index: 9999;">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <!-- <ion-title>
      Boxeh
    </ion-title> -->
    <ion-title class="logo home-logo">
      <!-- Boxeh -->
     <img alt="logo" height="40"   src="../../assets/icon/favicon.png" > 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
      <ion-slide>
        <img alt="logo" src="../../assets/banners/Home-Page-Header-Sized.jpg" > 
      </ion-slide>
  </ion-slide>
  <img alt="logo" src="../../assets/banners/Home-Page-Header-Sized.jpg" > 
</ion-content>
