// .active {
//     --border-left: 8px solid #a0c643;
// }

.active-item {
    border-left: 4px solid var(--ion-color-primary);
    background: #e9ecdf;
}

ion-item {
    --color: #7f7f7f;
}

img {
    cursor: pointer;
}

ion-list {
    padding: 0;
}