<ion-header>
  <ion-toolbar>
    <ion-menu-button color='primary' slot="start"></ion-menu-button>
    <ion-title class="logo">
     <img alt="logo" height="40"   src="../../assets/icon/favicon.png" > 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)"  class="bg-login">
    <ion-grid>
      <ion-row>
        <ion-col size-md="12" size-lg="6" offset-lg="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title text-center>
                <img src="../../assets/icon/icon.png" class="icon-logo">
              </ion-card-title>
            </ion-card-header>
    
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input name='first_name' ngModel type="text" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input name='last_name' ngModel type="text" required></ion-input>
              </ion-item>


              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input name='username' ngModel type="text" required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="floating">Email Address</ion-label>
                <ion-input name='email' ngModel type="text" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input name='password' ngModel type="text" required></ion-input>
              </ion-item>
    
              <div text-center class="pb-15px pt-1">
                <ion-button color='primary' size="samll" type="submit"  margin-top>
                  Register
                </ion-button>
              </div>

              <div text-center>
                Your Personal data will be used to support your experience throughout this application,
                to manage access to your account, and for other purposes described in our privacy policy.
                  </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

  
    </ion-grid>
  </form>
  
</ion-content> 

